agm-map {
  height: 100vh;
}
#main-content.map-container {
  margin-top: 0;
  width: calc(100% - 0px);
  overflow: hidden;
}
#main-content.map-container .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
.map-topwrapper {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 999;
  padding: 20px;
  width: calc(100% - 30px);
}

.map-sidepanelwrapper {
  position: absolute;
  background: #2dd4dc;
  padding: 15px;
  left: 0;
  top: 25%;
  z-index: 999;
  width: 200px;
  padding-right: 50px;
  height: 250px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.slide-arrow {
  float: right;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  background: url(src/assets/images/slide-arrow.png) no-repeat 6px center;
  position: absolute;
  right: 10px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.close-sidepanelwrapper {
  left: -153px;
}

.close-arrow {
  background: url(src/assets/images/slide-arrow.png) no-repeat -56px center;
}
.sideview-header h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.dashboard-btn {
  top: 10px;
  position: absolute;
  z-index: 999;
  left: -10px;
  border-radius: 0;
}

.location-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 45vh;
  float: left;
  width: 100%;
}

.location-list li {
  /* display: block; */
  margin-bottom: 3px;
  float: left;
  width: 100%;
  /* border-bottom: 1px dashed #fff; */
}

.location-list li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  background: #2dd4dc;
  float: left;
  width: 100%;
  position: relative;
}
.icon-img {
  float: left;
  width: 32px;
  background: #fff;
  padding: 5px;
  border-radius: 6px;
  margin-right: 5px;
}

.icon-img img {
  width: 100%;
}

.amb-span {
  float: left;
  border-right: 1px solid #1eb4bb;
  font-size: 11px;
  padding: 0px 10px;
}

.amb-span:last-child {
  border: 0;
}

.amb-span label {
  display: block;
  font-weight: 500;
  font-size: 12px;
}

.location-list li a.active,
.location-list li a:hover {
  background: #3db1b7;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.full-screen-btn {
  top: 10px;
  position: absolute;
  z-index: 999;
  right: 0px;
  border-radius: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}

.map-bottomwrapper {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 999;
  padding: 20px;
  width: calc(100% - 80px);
  bottom: 0;
}

.map-detail-box {
  float: left;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  padding: 10px;
}

.map-detail-box ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  border-bottom: 1px dashed #ccc;
}

.map-detail-box ul:last-child {
  border: none;
}

.map-detail-box ul li {
  display: inline-block;
  padding: 5px 7px;
}

.icon-wrap {
  float: left;
  background: #3db1b7;
  padding: 8px;
  color: #fff;
}

.cross-ico {
  color: #dc3545;
  float: right;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 2px;
  right: 2px;
}

.cross-ico:hover {
  color: #fff;
  background: #dc3545;
}
.w90 {
  width: 97%;
}
.fs-12 {
  font-size: 12px;
  font-weight: 500;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.p2 {
  padding: 2px !important;
}
