.profileImg {
  width: 130px;
  height: 160px;
}
.cardImg {
  width: 240px;
  height: 160px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */

/* Clear floats after the columns */

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: center;
  /* background-color: #d8d8d8; */
  height: 100%;
}
.w-10 {
  width: 10% !important;
}
.w-90 {
  width: 90% !important;
}
.btn-hover:hover {
  background-color: rgb(221, 218, 218);
  color: cadetblue;
}
.vh-90 {
  height: 90vh !important;
}
.modal {
  overflow: hidden !important;
}
