<div class="row heading-box">
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
        <h5>Mvitals - Connecting HAMS</h5>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
        <a href="javascript:void(0)" class="closebtn" (click)="onCloseClick()"><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <iframe src="https://dashboard.janitri.in/" frameborder="0"></iframe>
        <!-- <iframe src="https://dashboard.janitri.in/dashboard" frameborder="0"></iframe> -->
    </div>
</div>