<div id="wrapper" #fullScreen>
    <app-spinner></app-spinner>
    <div id="main-content" class="map-container">
      <div class="container-fluid">
        <div class="map-topwrapper">
          <div class="maptop-innerbox">
            <div class="row">
              <div class="col-md-5">
                <img class="logo" src="assets/images/vital-icon/logo.png" alt="M-vitals logo" srcset="">
              </div>
              <div class="col-md-7">
                <button class="btn add-patient-btn" 
                  (click)="onAddPatientClick()">
                  <i></i> Book Patient
                </button>
                <button type="button" class="d-none" 
                  data-bs-toggle="modal" 
                  data-bs-target="#staticBackdrop" #patientAddModal></button>
                <button class="btn ride-info-btn" (click)="onRideInfoClick()">
                  <i></i> Ride Info
                </button>
                <button class="btn patient-vitals-btn" (click)="onPatientVitalsClick()">
                  <i></i>Patient Vitals
                </button>
                <button class="btn janitri-vitals-btn" (click)="onJanitriVitalsClick()">
                  <i></i>Janitri
                </button>
                <button class="btn log-out-btn" (click)="onLogout()">
                  <i></i>
                </button>
                <i class="fa-solid fa-expand btn btn-default full-screen-btn" [ngClass]="{
                      'fa-expand': !mapFullScreen,
                      'fa-compress': mapFullScreen
                    }" ngbTooltip="{{ mapFullScreen ? 'Minimize Screen' : 'Full Screen' }}"
                  (click)="onMapFullScreenClick()">
                </i>
              </div>
            </div>
  
          </div>
        </div>
        <div class="overlay" #rideInfoOverlay>
          <a href="javascript:void(0)" class="closebtn" (click)="onCloseRideInfoOverlay()">&times;</a>
          <div class="overlay-content map-detail-box" *ngIf="activeOrder != null">
            <ul>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-location-crosshairs"></i>
                </span>
                <span class="amb-span">
                  <label for="">START POINT</label>
                  {{ activeOrder.source_location }}
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <span class="amb-span">
                  <label for="">END POINT</label>
                  {{ activeOrder.destination_location }}
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-truck-medical"></i>
                </span>
                <span class="amb-span">
                  <label for="">AMBULANCE NO</label>
                  {{ activeOrder.ambulance_id?.registration_number }}
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-truck-medical"></i>
                </span>
                <span class="amb-span">
                  <label for="">AMBULANCE TYPE</label>
                  {{ activeOrder.ambulance_type_id?.name }}
                </span>
              </li>
            </ul>
            <ul>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-user-nurse"></i>
                </span>
                <span class="amb-span">
                  <label for="">DRIVER NAME</label>
                  {{ activeOrder.driver_id?.name }}
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-mobile-screen-button"></i>
                </span>
                <span class="amb-span">
                  <label for="">MOBILE</label>
                  {{ activeOrder.driver_id?.phone }}
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-compass"></i>
                </span>
                <span class="amb-span">
                  <label for="">DISTANCE</label>
                  {{ activeOrder.distance }} KM
                </span>
              </li>
              <li>
                <span class="icon-wrap">
                  <i class="fa-solid fa-clock"></i>
                </span>
                <span class="amb-span">
                  <label for="">ESTIMATED TIME</label>
                  {{ activeOrder.estimated_time }}
                </span>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="overlay overlay-mvital" #patientVitalsOverlay>
          <div class="vitals-overlay-content" *ngIf="activeOrder != null">
            <app-patient-vitals (closeClick)="onClosePatientVitalsOverlay($event)"></app-patient-vitals>
          </div>
        </div>

        <div class="overlay" #janitriVitalsOverlay>
          <div class="overlay-content-janitri" *ngIf="activeOrder != null">
            <app-janitri-vitals (closeClick)="onCloseJanitriVitalsOverlay($event)"></app-janitri-vitals>
          </div>
        </div>
  
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="true" [usePanning]="true"
          (mapReady)="onMapReady($event)">
          <agm-marker 
            [latitude]="activeOrder.latitude"
            [longitude]="activeOrder.longitude"
            [iconUrl]="activeOrder.icon" 
            (markerClick)="activeOrder.isMarker = !activeOrder.isMarker"
            *ngIf="activeOrder != null">
            <agm-info-window [isOpen]="activeOrder.isMarker" [latitude]="activeOrder.latitude" [longitude]="activeOrder.longitude">
              <span class="icon-img">
                <img src="{{ base_url + activeOrder?.ambulance_type_id?.image }}" alt="Ambulance Type" />
              </span>
              <span class="amb-span">
                <label for="">Type</label>
                {{ activeOrder.ambulance_type_id?.name }}
              </span>
              <span class="amb-span">
                <label for="">Ambulance</label>
                {{ activeOrder.ambulance_id?.registration_number }}
              </span>
              <span class="amb-span">
                <label for="">Driver</label>
                {{ activeOrder.driver_id?.name }}
              </span>
            </agm-info-window>
          </agm-marker>
          <agm-direction *ngIf="activeOrder != null" [origin]="activeOrder.origin"
            [destination]="activeOrder.destination1" [renderOptions]="activeOrder.render_options"
            [markerOptions]="activeOrder.marker_options">
          </agm-direction>
        </agm-map>
      </div>
    </div>
  </div>
  
  <!-- Popup for patient add -->
  <div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter Patient details</h5>
          <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row" [formGroup]="patientForm" (ngSubmit)="onAddPatientCustomer()" *ngIf="patientField">
            <div class="col-md-6 mb-3">
              <label class="form-label">Patient Mobile Number</label>
              <input type="text" formControlName="phone" 
                placeholder="Enter Patient Mobile Number"
                class="form-control p-1" maxlength="10"
                (change)="mobileNumberPatch($event)">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Patient Name</label>
              <input type="text" formControlName="name" placeholder="Enter Patient Name" class="form-control p-1">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Email</label>
              <input type="text" formControlName="email" placeholder="Enter Patient Email" class="form-control p-1">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Address</label>
              <input type="text" formControlName="p_address" placeholder="Enter Patient Address" class="form-control p-1">
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Date Of Birth:</label>
              <input type="date" formControlName="age" placeholder="Enter Date Of Birth" class="form-control p-1">
            </div>
            <div class="col-md-3 mb-3">
              <div class="row">
                <div class="col-md-3">
                  <span class="p-1">Gender:</span>
                </div>
                <label class="fancy-radio col-md-4">
                  <input type="radio" formControlName="gender" [value]="1" required="" />
                  <span><i></i>Male</span>
                </label>
  
                <label class="fancy-radio col-md-4">
                  <input class="bg-secondary" type="radio" formControlName="gender" [value]="0" required="" />
                  <span><i></i>Female</span>
                </label>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">height(in CM)</label>
              <input type="number" formControlName="height" placeholder="Enter height" class="form-control p-1">
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">wight(in KG)</label>
              <input type="number" formControlName="weight" placeholder="Enter weight" class="form-control p-1">
            </div>
            <div class="col-md-12 mb-3">
              <button type="submit" class="btn btn-primary float-right"
                [disabled]="mobileNumber.length != 10">
                <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                    *ngIf="showNextBtnLoader"
                  ></span>
                  {{showNextBtnLoader ? 'Saving Patient...' : 'Next'}}
              </button>
            </div>
          </form>
          <fieldset *ngIf="isIotServices">
            <h2 class="fs-title">Choose Test Vitals</h2>
            <div class="form-group col-md-12 flex-wrap">
              <div class="card card-color">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3 col-md-4" *ngFor="let test of allTest">
                      <div class="card p-0 text-light test-card cursor-pointer" [ngClass]="{
                          background_theme: !test.isSelected,
                          'bg-success': test.isSelected
                        }" (click)="onSelectedTest(test)">
                        <div class="card-body p-0">
                          <div class="text-center p-0">
                            <h5 class="card-title">{{ test?.name }}</h5>
                            <span class="h2">{{ test?.price }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success float-right" (click)="getTestFareDetails()" type="submit">
                Proceed To Book
              </button>
            </div>
          </fieldset>
          <fieldset *ngIf="isPaymentScreen">
            <h2 class="fs-title">Payment Details</h2>
            <div class="form-group col-md-12 flex-wrap">
              <div class="card card-color">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="tabel table-responsive">
                        <tr>
                          <th>#</th>
                          <th>Basic</th>
                          <th>Pro</th>
                        </tr>
                        <tr *ngFor="
                            let test of fareData.allTest;
                            let i = index
                          ">
                          <td>{{ i + 1 }}</td>
                          <td>{{ test?.name }}</td>
                          <td>{{ test?.price }}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Tax</td>
                          <td>{{ fareData?.fareDetails?.taxes }}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Total</td>
                          <td>
                            {{ fareData?.fareDetails?.total_price }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success float-right" (click)="onPaymentSubmit()" type="submit">
                  Pay
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <!-- End of patient add popup -->