<div id="left-sidebar" class="sidebar cursor-pointer">
    <div class="sidebar-scroll">
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="menu">
                <nav class="sidebar-nav">
                    <ul class="main-menu metismenu">
                        <ng-container *ngFor="let feature of features; let i = index;">
                            <li *ngIf="!feature.hasSubMenu && feature?.read"
                                class="cursor-pointer"
                                [routerLink]="[feature.routerLink]" 
                                routerLinkActive="active box-border"
                                (click)="updateActiveState()">
                                <a href="javascript:void()" 
                                    routerLinkActive="router-link-active active"
                                    aria-expanded="false"
                                >
                                    <i [class]="feature.icon"></i>
                                    <span class="nav-text">{{feature.displayLabel}}</span>
                                </a>
                            </li>
                            <li *ngIf="feature.hasSubMenu  && feature?.read"
                                [ngClass]="{'active': feature.active}"
                                (click)="feature.active = !feature.active;"
                            >
                                <a href="javascript:void()"
                                    aria-expanded="false"
                                    class="has-arrow"
                                >
                                    <i [class]="feature.icon"></i>
                                    <span class="nav-text">{{feature.displayLabel}}</span>
                                </a>
                                <ul aria-expanded="false" 
                                    [ngClass]="{
                                        'left collapse-in': feature.active, 
                                        'left collapse': !feature.active 
                                    }">
                                    <li *ngFor="let childrenFeature of feature?.children"
                                        class="cursor-pointer" 
                                        [routerLink]="[childrenFeature.routerLink]"
                                        routerLinkActive="active box-border">
                                        <a href="javascript:void()" aria-expanded="false">
                                            <i [class]="childrenFeature.icon"></i>
                                            <span class="nav-text">{{childrenFeature.displayLabel}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>
                </nav>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>