.cursor-pointer {
  cursor: pointer;
}
.liststylenone {
  list-style: none !important;
}
.sidebar-nav .metismenu a:hover {
  background-color: #dbdee0;
}
.fs-s {
  font-size: 10px !important;
}
.fs-m {
  font-size: 13px !important;
}
.scroll {
  height: 100% !important;
  overflow-y: scroll !important;
}
.user-account {
  text-align: center;
  margin-top: 0;
}

.user-account img {
  width: 40px;
  border-radius: 0 !important;
}
.sidebar-nav .metismenu a:hover {
  background-color: #dbdee0;
}
.fs-s {
  font-size: 10px !important;
}
.fs-m {
  font-size: 13px !important;
}
